/** {
	margin: 0;
	padding: 0;
}
.go-lt { float: left; }
.go-rt { float: right; }

.container {
	width: 1200px;
	height: 2027px;
	background: #660000;
	margin: 0 auto;
}

.header {
	width: 1200px;
	height: 605px;
	background: #330000;
}
	.nav {
		width: 960px;
		height: 100px;
		padding: 0 120px;
	}
		.logo {
			width: 225px;
			height: 100px;
			margin-right: 20px;
		}
			.logo h1 {
				font-size: 28px;
				color: #fff;
				margin-top: 30px;
			}
			.logo p {
				font-size: 14px;
				color: #fff;
			}
		.top-nav {
			width: 715px;
			height: 100px;
		}
			.top-nav ul {
				margin-top: 50px;
				text-align: right;
			}
			.top-nav ul li {
				padding: 10px 15px;
				display: inline;
				border-radius: 10px;
			}
			.top-nav ul li a {
				text-decoration: none;
				color: #fff;
			}
			.top-nav ul li:hover {
				background: #66cc99;				
			}
	.slider {
		width: 960px;
		height: 505px;
		padding: 0 120px;
	}
		.arrow-lt {
			position: absolute;
			top: 320px;
			left: 195px;
		}
		.arrow-rt {
			position: absolute;
			top: 320px;
			right: 195px;
		}
		.slide-desc {
			width: 380px;
			height: 380px;
			margin: 100px 40px 0 55px;
		}
			.slide-desc h1 {
				font-size: 55px;
				line-height: 50px;
				color: #fff;
			}
			.slide-desc p {
				font-size: 17px;
				line-height: 22px;
				color: #999;
				margin: 25px 0;
			}
			.slide-desc input {
				height: 35px;
				font-size: 15px;
				color: #fff;
				background: #66cc99;
				border: none;
				padding: 0 20px;
				border-radius: 10px;
			}
		.slide-img {
			width: 380px;
			height: 380px;
			background: #333;
			border: 25px solid #666;
			border-radius: 50%;
			margin: 20px 55px 0 0;
		}

.footer {
	width: 1200px;
	height: 450px;
	background: #333;
}
	.contact {
		width: 960px;
		height: 384px;
		padding: 0 120px;
		border-bottom: 1px solid #000;
	}
		.footer .section {
			width: 225px;
			height: 384px;
			margin-right: 20px;
		}
			.footer .section h1 {
				font-size: 17px;
				line-height: 30px;
				color: #fff;
				font-weight: normal;
				margin: 30px 0 20px 0;
				text-transform: capitalize;
			}
			.footer .section h3 {
				margin-bottom: 7px;
			}
			.footer .section a {
				color: #66cc99;
				text-decoration: none;
			}
			.footer .section p {
				color: #999;
				margin-bottom: 7px;
			}
			.footer .section ul li {
				border-bottom: 1px solid #666;
				line-height: 30px;
				list-style-type: none;
			}
			.footer .section input {
				background: #000;
				opacity: .3;
				border: none;
				border-radius: 10px;
				padding: 0 10px;
				outline: none;
				width: 225px;
				height: 35px;
				color: #999;
			}
			.footer .section textarea {
				background: #000;
				opacity: .3;
				border: none;
				border-radius: 10px;
				padding: 10px 10px;
				resize: none;
				outline: none;
				width: 225px;
				height: 80px;
				color: #999;
			}
			.footer .section input[type=submit] {
				background: #66cc99;
				text-align: center;
				width: 75px;
				height: 35px;
				color: #000;
				opacity: 1;
				text-transform: uppercase;
				font-weight: bold;
			}
			.footer .domain {
				color: #666;
			}
			.footer .post-title {
				font-size: 12px;
				margin-bottom: 7px;
			}
	.copyright {
		width: 960px;
		height: 65px;
		padding: 0 120px;
	}
		.copyright p {
			color: #999;
			margin-top: 25px;
		}
	
*/